<h1>DEBUG</h1>
<p><a href="/">LEAVE</a></p>
<style>

div#number { font-size: 400%; }

div.no-bang { font-size: 200%; background-color: #ccc; }
div.bang { font-size: 200%; background-color: #5f5; }

</style>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/bang.js"></script>

<a href="javascript:bang();">SEND BANG</a>

<div id="debug" class="no-bang">NO EVENT YET...</div>
<div id="number">??</div>

<script type="text/javascript">

var dummy = '';

  var b = new Bang();

  var el_debug = document.getElementById('debug');
  var el_number = document.getElementById('number');

  b.bangHandler = function(event) {
    if (event.audiodata) {
      // remember audio data
    }
    var delay = event.delay * 0;
    // HANDLE THE ACTUAL TRIGGERING OF SOUND HERE, after delay ms
    el_debug.innerHTML = 'Bang from #'+(event.source + 1)+' with delay '+delay;
    setTimeout(function() { el_debug.className = 'bang'; }, delay);
    setTimeout(function() { el_debug.className = 'no-bang'; }, delay + 200);
  }

  b.indexChangedHandler = function() {
    el_number.innerHTML = (b.index + 1)+' of '+b.size;
    // propagate my sound here
  }

  b.start();

  function bang() {
    b.bang({ static_sample: 1, data: dummy });
  }

</script>

