<h1>DEBUG</h1>
<p><a href="/">LEAVE</a></p>
<style>

div#number { font-size: 400%; }

div.no-bang { font-size: 200%; background-color: #ccc; }
div.bang { font-size: 200%; background-color: #5f5; }

</style>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/bang.js"></script>

<a href="javascript:bang();">SEND BANG</a>
<input type="button" value="start" onclick="start_recording();">

<div id="debug" class="no-bang">NO EVENT YET...</div>
<div id="number">??</div>

<script type="text/javascript">

var dummy = '';

  var b = new Bang();

  var el_debug = document.getElementById('debug');
  var el_number = document.getElementById('number');

  b.bangHandler = function(event) {
    console.log('got bang', event);
    if (event.encodedAudio) {
      var totalSamples = event.encodedAudio.length;
      var source = context.createBufferSource();
      var buf = context.createBuffer(1, totalSamples, context.sampleRate);
      var decoded = _decodeAudio(event.encodedAudio);
      console.log(decoded);
      buf.getChannelData(0).set(decoded);
      source.buffer = buf;
      source.connect(context.destination);
      source.noteOn(context.currentTime + event.delay * 1.0);
      // event.delay / (b.size / 2)
    }

    var delay = event.delay * 500;
    // HANDLE THE ACTUAL TRIGGERING OF SOUND HERE, after delay ms
    el_debug.innerHTML = 'Bang from #'+(event.source + 1)+' with delay '+delay;
    setTimeout(function() { el_debug.className = 'bang'; }, delay);
    setTimeout(function() { el_debug.className = 'no-bang'; }, delay + 300);
  }

  b.indexChangedHandler = function() {
    el_number.innerHTML = (b.index + 1)+' of '+b.size;
    // propagate my sound here
  }

  b.start();

  function bang() {
    b.bang({ });
  }


















  var context;
    var numSamples = 16384;
    var passes = 2;
    var totalSamples = numSamples * passes;
    var numChannels = 1;
  var recording = passes + 1;
  var bigData;  // Joined up recording
  var buf;    // Playback buffer
  var source;   // Playback buffer node

  // success callback when requesting audio input stream
  function init(stream) {
      context = new webkitAudioContext();
      var mediaStreamSource = context.createMediaStreamSource( stream );
      var scriptProcessor = context.createJavaScriptNode(numSamples, numChannels, numChannels);
      scriptProcessor.onaudioprocess = process;

      // Connect input to script processor
      mediaStreamSource.connect( scriptProcessor);
      scriptProcessor.connect(context.destination);
  }

  function process (event) {

    if (recording < passes) {
      var data = event.inputBuffer.getChannelData(0);

      try {
        bigData.set(data, numSamples*recording);
      } catch(e) {
        console.log(data.length, numSamples * recording, bigData.length);
      }

    } else if (recording === passes) {
      console.log("upload + bang");

      console.log(bigData);
      var encoded = _encodeAudio(bigData);
      console.log(encoded);

      b.bang({ encodedAudio: encoded });
    };
    recording++;
  }

  function start_recording () {
    console.log("recording!");
    bigData = new Float32Array(new ArrayBuffer(totalSamples*4));

    recording = 0;
  }

  navigator.webkitGetUserMedia( {audio:true}, init );

  window.onkeydown = function (event) {
    if (event.keyCode === 32) {
      start_recording();
    };
  }

















</script>

